.input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.input[type=submit], input {
    width: 80%;
    background-color: #ffffff;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.btn {
    width: 80%;
    background-color: #30e369;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.div-opened {
  display: block;
}

.div-closed {
  display: none;
}
